<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>NSCameraUsageDescription</key> <!-- 申请摄像头权限 -->
	<string>YES</string>
	<key>NSHighResolutionCapable</key> <!-- 字体模糊 -->
	<string>YES</string>
</dict>
</plist>
